<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Predictotronix.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <meta property="og:title" content="Predictotronix"/>
    <meta property="og:description" content="A predicting robot from the future."/>
    <meta property="og:image" content="https://www.predictotronix.com/favicon.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.predictotronix.com/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Predictotronix"/>
    <meta name="twitter:description" content="A predicting robot from the future."/>
    <meta name="twitter:image" content="https://www.predictotronix.com/favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>