
@font-face {
    font-family: 'BBC-Ceefax';
    src: url('../fonts/bbc-ceefax-logo.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.ceefax-font {
    font-family: 'BBC-Ceefax', monospace;
}

body.ceefax {
    font-family: 'BBC-Ceefax', monospace;
    background-color: #000000;
    color: #FFFFFF;
}
