
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <meta property="og:title" content="Predictotronix" />
    <meta property="og:description" content="A predicting robot from the future." />
    <meta property="og:image" content="https://www.predictotronix.com/images/lizwig.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.predictotronix.com/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Predictotronix" />
    <meta name="twitter:description" content="A predicting robot from the future." />
    <meta name="twitter:image" content="https://www.predictotronix.com/images/lizwig.jpg" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body class="@BodyClass">
    <Routes @rendermode="InteractiveServer" />
    <script src="js/site.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>

@code {
    [Inject]
    private IHttpContextAccessor HttpContextAccessor { get; set; } = default!;

    private string BodyClass => _isCeefax ? "ceefax" : string.Empty;
    private bool _isCeefax;

    protected override void OnInitialized()
    {
        var cookie = HttpContextAccessor.HttpContext?.Request.Cookies["ceefaxMode"];
        _isCeefax = bool.TryParse(cookie, out var v) && v;
    }
}
